<mat-toolbar color="primary">
  <header class="header">
    <div class="account">
      <span>Payme Todo App</span>
      <mat-icon *ngIf="user$ | async">account_circle</mat-icon>
    </div>
    <div class="sign-out-switch">
      <button *ngIf="user$ | async" mat-button class="sign-out">
        Sign Out
      </button>
      <mat-slide-toggle
        [checked]="isThemeDark"
        (change)="onToggleMode($event)"
      ></mat-slide-toggle>
      <span>Dark Mode</span>
    </div>
  </header>
</mat-toolbar>
