.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.sign-out-switch,
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 24px;
}

.sign-out {
  background-color: red;
  color: white;
}
