<form
  (ngSubmit)="onAddTodo()"
  class="form"
  name="addTodoForm"
  [formGroup]="addTodoForm"
>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Enter new todo</mat-label>
    <input
      formControlName="newTodoTitle"
      matInput
      type="text"
      required
      autocomplete=""
      class="newTodoInput"
    />
    <mat-error *ngIf="!addTodoForm.controls['newTodoTitle'].valid">
      You need to enter todo first
    </mat-error>
  </mat-form-field>
  <span *ngIf="createTodo.status === httpStatus.ERROR">
    {{ createTodo.error?.statusText }}
  </span>

  <div class="button-spinner">
    <mat-spinner
      *ngIf="createTodo.status === httpStatus.LOADING"
      diameter="50"
    ></mat-spinner>
    <button
      *ngIf="createTodo.status !== httpStatus.LOADING"
      mat-flat-button
      color="primary"
    >
      Add
    </button>
  </div>
</form>

<div class="filter">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" [disabled]="status === httpStatus.LOADING">
      <mat-option value="all">All</mat-option>
      <mat-option value="completed">Completed</mat-option>
      <mat-option value="uncompleted">Uncompleted</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ul class="todo-list" *ngIf="status === httpStatus.SUCCESS">
  <app-todo
    *ngFor="let todo of filteredTodos"
    [todo]="todo"
    [user]="user"
    [deleteTodo]="deleteTodo"
    [editTodo]="editTodo"
  ></app-todo>
</ul>

<div
  *ngIf="todos && filteredTodos.length === 0 && status !== httpStatus.LOADING"
  class="spinner"
>
  <span>0 todos found</span>
</div>

<div class="spinner" *ngIf="status === httpStatus.LOADING">
  <mat-spinner></mat-spinner>
</div>
