.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 50px;
  width: 100%;
}
.newInputTodo {
  height: 100%;
}
.full-width {
  width: 80%;
}

.button-spinner {
  width: 20%;
  display: flex;
  align-items: center;
  mat-spinner,
  button {
    width: 100%;
    height: 52px;
    bottom: 10px;
    font-size: 20px;
  }
}

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-list {
  list-style: none;
  margin-bottom: 50px;
}
